<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/password.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Freeman&family=Oswald:wght@200..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">
</head>
<body>

    <% if (locals.error) { %>
        <div style="color: red; margin: 1rem; font-size: 1.5rem;"> 
            Incorrect Password 
        </div>
    <% } %>
    <form method="post">
        <label for="password" style="font-size: 3vw; color: #ffffff;">Password:</label>
        <input type="password" id="password" name="password" style="padding: 10px;" required/>
        <button type="submit">Download</button>
    </form>


    
</body>
</html>