*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
::-webkit-scrollbar{
    width: 2px;
}

body{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#2e2d2d ;
    color: white;
    font-family: Roboto Mono;
    
}



nav{
    color: #2e2d2d;
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    text-decoration: none;

}
/* .navbar_1{
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    overflow-y: hidden;
}
.logo{
    border-radius: 2px;
    
} */


.navbar_2, .sub_nav{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub_nav{
    padding: 0 10px;
    display: flex;

}

.nav_list{
    margin: 2px 20px;
    padding: 10px;
}
a{
    text-decoration: none;
    color: white;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}



.use{
    margin-top: 100px;
    margin: 10px;
    padding: 20px 30px;
    width: 50%;
    border: 2px solid white;
    border-radius: 5px;
}

form{
    width: 50%;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




input[type="file"]{
    font-size: 15px;
    width: 200px;
    display: inline-block;
    color: white;
    text-align: center;
    margin: 5px;
    padding: 5px;
    border-radius: 20px;
}


label[for="file"]:hover{
    background-color: #d10000;
}

label[for="password"]{
    font-size: 18px;
}

input[type="password"]{
    width: 150px;
    margin: 5px;
    padding: 5px;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    box-shadow: 2px 2px 2px black;

}

button{
    font-family: Roboto Mono;
    font-size: 18px;
    font-weight: 500;
    width: 150px;
    margin: 5px;
    padding: 5px;
    color: white;
    background-color: #2e2d2d;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 2px 2px 2px black;
}

button:hover{
    background-color: white;
    color:#2e2d2d;
}




.upload_file_link{
    width: auto;
    height: auto;
    border: 2px solid black;
    border-radius: 5px;
    margin: 3rem; 
    padding: 1rem; 
    font-size: .8rem; 
    background-color: white;
    color:black;
    display: flex;
    flex-wrap: wrap;
    
}

.Link{
    padding: 3px 5px;
    background-color: rgb(212, 115, 115);
    color: black;
    font-size: larger;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
}



footer{
    margin-top: 100px;
    width: 100%;
    background-color: #cac2c21a;
    height: 160px;
}
